*{
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: black;
    box-sizing: border-box;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    position: sticky;
    top: -1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid white;
    
}
header>a{
    gap: 10px;
   padding: 10px;
    margin-top: 20px;
    text-decoration: none;
}
header>img{
    justify-items:left;
}
header>a:hover{
    color: #D3AD7F;
    
}

.hero{
    padding-left: 80px;
    min-height: 100vh;
    background-image: url("https://github.com/NAMAN547/coffee-website/blob/main/images/home-img.jpeg?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    color: #FFFFFF;
    font-size: 60px;
}
p{
    color: #EEEEEE;
    font-size: 20px;
    padding: 10px 0px;
}
button{
    color: #FFFFFF;
    background-color: #D3AD7F;
    padding: 9px 30px;
    margin: 10px 0px 0px;
    font-size: 17px;
}
button:hover{
    transition-duration: 1s;
    transform:scale(1.2);
}
h1{
    font-size: 40px;
    color: #D3AD7F;
    text-align: center;
    padding: 20px 0px;
    text-align: center;
}
.aboutus{
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    padding-left:70px;
    padding-right: 70px;
    display: flex;
    gap: 30px;
}
.content{
    padding-top: 90px;
    background-color: #171a1d;
}
.content>h3{
    background-color: #171a1d;
    font-size: 30px;
}
.content>p{
    font-size: 20px;
    background-color: #171a1d;
    color: #CCCCCC;
}
.choice{
    width:331.04px;
    height:336.4px;
    background-color: #171a1d;
    border: 1px solid white;
    padding: 50px;
    text-align: center;
}
.choice>img{
    background-color: #171a1d;
    width: 100px;
    height: 100px;
}
.choice>button:hover{
    color: black;
}
.choice>h3{
    background-color: #171a1d;
    font-size: 20px;
}
.choice>p{
    background-color: #171a1d;
    font-size: 25px;
}
.ourmenu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.ourproducts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px 139.6px;
}
.options{
    width:335.04px;
    height:360.4px;
    background-color: #171a1d;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
}
.options>h3{
    background-color: #171a1d;
    font-size: 20px;
}
.options>p{
    background-color: #171a1d;
    font-size: 25px;
}
.options>img{
    background-color: #171a1d;
    width: 159.28px;
    height: 250px;
}
.persons{
    width:fit-content;
    height:fit-content;
    text-align: center;
    padding: 20px;
    background-color: #171a1d;
    border: 1px solid white;
}
.review{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    gap: 20px;
}
.persons>img{
    background-color: #171a1d;
}
.persons>h3{
    font-size: 20px;
    background-color: #171a1d;
}
.persons>p{
    font-size: 15px;
    background-color: #171a1d;
}
.prsnimg>img{
    width: 70px;
    height:70px;
    border-radius:50%;
}
.prsnimg{
    background-color: #171a1d;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    gap: 20px;
}
.blogno{
    width:fit-content;
    height:fit-content;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    background-color: #171a1d;
}
.blogno>h3{
    background-color: #171a1d;
    font-size: 23px;
}
.blogno>h4{
    background-color: #171a1d;
    font-size: 20px;
}
.blogno>p{
    background-color: #171a1d;
    font-size: 15px;
}
.blogno>img{
    background-color: #171a1d;
}
.blogno>img:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}